
@{
    ViewBag.Title = "Carsales List Home";
}

    <div ng-view style="margin-top:60px;"></div>

    @*Third party javascript (jquery must go first) *@
    @Scripts.Render("~/content/js/content-js")

    @*App javascript*@
    @Scripts.Render("~/app/app-javascript")

